body{
    padding: 0;
    margin: 0;
    background-color: aquamarine;
    font-family: Arial, sans-serif;
}

h1{
    text-align: center;
}

div{
    background-color: white;
    width: 200px;
    margin: auto;
    text-align: center;
    border-radius: 30px;
    padding: 30px;
    border-color: blue;
}

button {
    background-color: aquamarine;
    border-radius: 30px;
    padding: 10px;
    border-width: 0px;
}

li {
    list-style: none;
    background-color: blue;
    color: white;
    border-radius: 15px;
    margin-right: 15px;
}

